* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.container {
    width: 100%;
    background-color: #121116;
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    max-width: 113px;
    margin: 0 auto 35px;
    padding: 120px 0 40px;
    text-align: center;
    color: white;
}

.title-holder{
    max-width: 230px;
    padding-bottom: 20px;
    margin: 0 auto 40px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.title-holder h1 {
    font-size: 20px;
    font-weight: 400px;
}

.social {
    text-align: center;
    padding-bottom: 90px;
}

.social-list {
    list-style: none;
    margin: 0%;
    padding: 0%;

}
.social-item {
    display: inline-block;
    margin: 0 17px;
}

.social-link {
    display: block;
    width: 15px;
    height: 15px;
}

.social-img {
    display: block;
    width: 100%;
    height: auto;
}

.copyright {
    padding-bottom: 43px;
    font-size: 16px ;
    color: #fff;
}
.copyright span {
    color: #19c8fa;
}